langchain==0.1.12
langchain_community
langchain-core
langchain-openai               
langchain-mongodb
langchain-text-splitters

llama-index-core
llama-index-embeddings-langchain
llama-index-llms-anyscale
llama-index-llms-fireworks
llama-index-llms-langchain
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-readers-s3
llama-index-readers-file
llama-index-vector-stores-mongodb==0.1.6

fastapi[all]
uvicorn[standard]
gunicorn==21.2.0
python-multipart 

pymongo 
redis
redisearch

openai
pydantic

azure-ai-textanalytics 
youtube-transcript-api 
google-api-core                         
google-api-python-client
html2text
bs4
python-dotenv
scrapy
streamlit
openpyxl