langchain 
pymongo 
azure-ai-textanalytics 
youtube-transcript-api 
google-api-core                         
google-api-python-client
langchain_community
pydantic
openai
langchain-openai               
langchain-mongodb
fastapi[all]
uvicorn
html2text
bs4
uvicorn 
python-dotenv
scrapy
python-multipart 
langchain-core
langchain-text-splitters
llama-index-core
llama-index-embeddings-langchain
llama-index-llms-anyscale
llama-index-llms-fireworks
llama-index-llms-langchain
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-readers-s3
llama-index-readers-file
llama-index-vector-stores-mongodb==0.1.6
streamlit
context-python
redis
redisearch
openpyxl